.App {
	display: flex;
	flex-flow: column;
	justify-content: center;
	min-height: 100vh;
}

h1,
p {
	text-align: center;
}

.reyes {
	width: 100%;
	max-width: 900px;
	margin: 10px auto 0 auto;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;
}

.rey {
	background: darkblue;
	border-radius: 7px;
	padding: 20px;
	border: 2px solid bisque;
}

.rey img {
	width: 100%;
	cursor: pointer;
}

.rey h3 {
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
}

.background-transparent {
	background: none;
	border: 2px solid transparent;
}
