.login {
	background: darkblue;
	margin: 20px auto;
	width: fit-content;
	border-radius: 15px;
	padding: 20px;
}

.login h1 {
	text-align: center;
	margin-bottom: 20px;
}

.login input {
	margin-left: 10px;
	border-radius: 7px 0 0 7px;
}

.login button {
	background: darkblue;
	color: bisque;
	font-size: 16px;
	padding: 0 15px;
	height: 32px;
	border-radius: 0 7px 7px 0;
	cursor: pointer;
	border: 1px solid bisque;
}
