.App {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: center;
}

.App > * {
  width: fit-content;
  margin: 0 auto 0 auto;
}

.App .box {
  user-select: none;
  cursor: pointer;
  padding: 10px 13px 8px 13px;
  font-size: 18px;
  border-radius: 7px;
}

.App img {
  margin: 20px;
}

.App button {
  padding: 10px 12px;
  border-radius: 7px;
  background-color: darkblue;
  color: bisque;
  cursor: pointer;
  font-size: 16px;
}

.background-light {
  background: bisque;
  color: darkblue;
}
