.App {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	gap: 20px;
	justify-content: center;
	padding: 20px;
}

.App .msg {
	display: flex;
	flex-flow: column;
	background: bisque;
	padding: 20px 20px 0 20px;
	margin: auto;
	color: darkblue;
	border-radius: 7px;
}

.App .darkviolet { color: darkviolet; }
.App .green { color: green; }

.App button {
	padding: 10px 15px;
	font-size: 16px;
	border-radius: 7px;
	background: darkblue;
	color: bisque;
	cursor: pointer;
	width: fit-content;
	margin: 15px auto -20px auto;
	box-shadow: 0 0 13px rgba(0, 0, 139, 0.254);
}
