.form-questions {
	display: grid;
	grid-template-columns: 1fr auto;
	justify-content: center;
	gap: 20px;
	padding: 20px;
	max-width: 900px;
	margin: auto;
}




/* -- -- form -- -- */

.form-questions form {
	max-width: 350px;
	margin: auto;
}

.form-questions form > p {
	margin-bottom: 10px;
}

.form-questions input {
	border-radius: 7px 0 0 7px;
}
.form-questions input[type="submit"] {
	border-radius: 0 7px 7px 0;
	background: darkblue;
	color: bisque;
	cursor: pointer;
	margin-bottom: 15px;
}

.form-questions .watch {
	text-align: center;
	background: green;
	color: bisque;
	padding: 10px 15px;
	border-radius: 7px;
	margin: 0 auto 10px;
	width: fit-content;
}

@media screen and (max-width: 720px) {
	.form-questions {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}




/* -- -- end -- -- */

.form-questions .end {
	text-align: center;
}

.form-questions .end button {
	background: darkblue;
	color: bisque;
	border-radius: 7px;
	margin: 10px 8px;
	padding: 10px 0;
	font-size: 16px;
	outline: none;
	cursor: pointer;
	width: 90px;
}




/* -- -- print -- -- */

@media print {
	html body {
		background-color: transparent;
	}

	.form-questions {
		padding: 0;
		height: 100vh;
		grid-template-columns: 1fr;
		justify-items: center;
		align-items: center;
	}

	.form-questions .questions {
		display: none;
	}
}
