h1,
p {
	text-align: center;
}

.reyes {
	width: 100%;
	max-width: 900px;
	margin-top: 10px;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;
}

.rey {
	background: darkblue;
	border-radius: 7px;
	padding: 20px;
	border: 2px solid bisque;
}

.rey img {
	width: 100%;
}

.rey h3 {
	margin-top: 20px;
	text-align: center;
}
